name: CI
on:
  pull_request:
    branches: ["main"]

jobs:
  check-conventional-commits:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Ensure conventional commits
        uses: ohpensource/ensure-conventional-commits-gh-action@v1.1.2
        with:
          settings-file: cicd/settings.json
